// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto Slab', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.navbar {
    border-bottom: 2px solid $green;
}
.card.card-success {
    border-radius: 6px;
    border-top: 6px solid $green;
}

.nav-link.active {
    border-bottom: 2px solid $green;
    font-weight: bold;
}

.footer ul.nav {
    border-bottom: 1px solid #c6c8ca;
}
