<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="card-title text-center mb-0">The easy way to buy Bitcoin</h2>
                <h1 class="text-success text-center mb-5">No ID required.</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-success">
                    <div class="card-body px-5">
                        <h2 class="card-title text-center mb-5">Choose your voucher/s</h2>
                        <ul class="nav justify-content-center" id="btc-nav" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link text-dark active" href="#instant" id="instant-tab" role="tab" data-toggle="tab" aria-controls="instant" aria-expanded="true">
                                    <h4>Buy BTC Instantly</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#voucher" role="tab" id="voucher-tab" data-toggle="tab" aria-controls="voucher">
                                    <h4>Buy BTC Voucher</h4>
                                </a>
                            </li>
                        </ul>

                        <div id="btc-nav-content" class="tab-content mt-5">

                            <div role="tabpanel" class="tab-pane fade show active" id="instant" aria-labelledby="instant-tab">
                                <form>
                                    <div class="form-group row">
                                        <label for="amount" class="font-weight-bolder">Enter the amount you wish to buy:</label>
                                        <div class="input-group">
                                            <input type="number" id="amount" class="form-control form-control-lg" placeholder="Enter amount">
                                            <div class="input-group-append">
                                                <span class="input-group-text">€</span>
                                            </div>
                                            <h3 class="font-weight-bold mx-5">0.0000 BTC</h3>
                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <label for="email" class="font-weight-bolder">Email :</label>
                                        <input name="email" type="email" class="form-control form-control-lg"
                                               id="email" required :placeholder="trans('auth.email')">
                                    </div>

                                    <div class="form-group row">
                                        <label for="wallet" class="font-weight-bolder">Bitcoin wallet address:</label>
                                        <input id="wallet" type="text" class="form-control form-control-lg"
                                               name="wallet" required placeholder="Enter BTC wallet address">
                                    </div>

                                    <p class="font-weight-bolder mx-0">Make sure the wallet address is correct. Otherwise, your Bitcoin will be lost.</p>

                                    <div class="form-group row">
                                        <div class="custom-control custom-checkbox my-3">
                                            <input type="checkbox" class="custom-control-input" id="agreement">
                                            <label class="custom-control-label" for="agreement">I agree with <a href="#">Terms & Conditions</a> and <a href="#">Privacy policy</a></label>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-0">
                                        <button type="submit" class="btn btn-primary mx-auto d-block px-4">
                                            Pay with Credit Card
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="voucher" aria-labelledby="voucher-tab">

                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                // declare locale
                trans: this.$trans,
            }
        },
        created() {
            //console.log('Component mounted.')
        }
    }
</script>
