<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-body px-5">
                        <h2 class="card-title text-center mb-5">{{ trans('auth.title') }}</h2>
                        <form @submit.prevent="login" autocomplete="off">
                            <div class="form-group row">
                                <input v-model="form.email" type="email" name="email"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }"
                                       :placeholder="trans('auth.email')" autocomplete="off" autofocus required>
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group row">
                                <input v-model="form.password" type="password" name="password"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('password') }"
                                       :placeholder="trans('auth.password')" required>
                                <has-error :form="form" field="password"></has-error>
                            </div>

                            <div v-if="form.errors.get('error')" class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ form.errors.get('error')}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="form-group row">
                                <a class="btn btn-link" href="#">
                                    {{ trans('auth.forgot') }}
                                </a>
                            </div>

                            <div class="form-group row mb-0">
                                <button type="submit" class="btn btn-primary mx-auto d-block px-4" :disabled="form.busy">
                                    {{ trans('auth.btn') }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                // declare locale
                trans: this.$trans,
                form: new Form({
                    email: '',
                    password: ''
                }),
            }
        },
        methods: {
            login () {
                // Submit the form via a POST request
                this.form.post('/login')
                    .then(({ data }) => {
                        window.location = data.redirect;
                    })
                    .catch(error => {
                        error => this.status = error.response.data.status;
                        console.log(error.response.data);
                    })
            }
        },
        created() {
            //console.log('Component mounted.')
        }
    }
</script>
