<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-body px-5">
                        <h1 class="card-title text-center mb-0">{{ trans('register.title') }}</h1>
                        <p class="card-subtitle text-center mb-5">{{ trans('register.sub-title') }}</p>
                        <form @submit.prevent="register" autocomplete="off">
                            <div class="form-group row">
                                <input v-model="form.code" type="text" class="form-control " name="code"
                                       :class="{ 'is-invalid': form.errors.has('code') }" :placeholder="trans('register.code')" required autofocus>
                                <has-error :form="form" field="code"></has-error>
                            </div>

                            <div class="form-group row">
                                <input v-model="form.email" type="email" class="form-control" name="email"
                                       :class="{ 'is-invalid': form.errors.has('email') }" :placeholder="trans('register.email')" required>
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group row">
                                <input  v-model="form.password" type="password" class="form-control" name="password"
                                        :class="{ 'is-invalid': form.errors.has('password') }" :placeholder="trans('register.password')" required>
                                <has-error :form="form" field="password"></has-error>
                            </div>

                            <div class="form-group row">
                                <input v-model="form.password_confirmation" type="password" class="form-control"
                                       name="password_confirmation" :placeholder="trans('register.confirm')" required>
                            </div>

                            <div v-if="form.errors.get('error')" class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ form.errors.get('error')}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="form-group row">
                                <div class="custom-control custom-checkbox my-3">
                                    <input type="checkbox" class="custom-control-input" :class="{ 'is-invalid': form.errors.has('agreement') }"
                                           v-model="form.agreement" name="agreement" id="agreement">
                                    <label class="custom-control-label" for="agreement"
                                           v-html="trans('register.agreement')"></label>
                                    <has-error :form="form" field="agreement"></has-error>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <button type="submit" class="btn btn-primary mx-auto d-block px-4" :disabled="form.busy">
                                    {{ trans('register.btn') }}
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                // declare locale
                trans: this.$trans,
                form: new Form({
                    code: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    agreement: 0
                }),
            }
        },
        methods: {
            register () {
                // Submit the form via a POST request
                this.form.post('/register')
                    .then(({ data }) => {
                        window.location = data.redirect;
                    })
                    .catch(error => {
                        error => this.status = error.response.data.status;
                    })
            }
        },
        created() {
            //console.log('Component mounted.')
        }
    }
</script>
